.container {
    display: flex;
    width: 100%;
}
.users {
    background:  aqua;
    padding: 20px;
    width: 30%;
    min-height: 350px;
}
.users button {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 3px;
    border: none;
    background: deepskyblue;
    color: white;
}
.details {
    background: white;
    padding: 20px;
    width: 70%;
}