.header {
    min-height: 50px;
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.header a[class='active'] {
    color: skyblue;
}